@charset "UTF-8";
/* CSS Document */

/*Tamaño tablet*/

#contenedor {
    margin: 0 auto;
    width: 100%;
}

#cont_video {
    margin-left: 1.5%;
    /*El 3.5% de 1200 es 42px*/
    margin-right: 1.5%;
}

#video {
    width: 100%;
}

/*-----BANNERS-----*/

#cont_banner1 {
    margin-left: 1.5%;
}

#cont_banner2 {
    margin-right: 1.5%;
}

#cont_banner3 {
    margin-left: 1.5%;
}

#banner1 {
    width: 60%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
}

#banner2 {
    width: 36%;
    display: inline-block;
    float: right;
}

#banner3 {
    width: 60%;
    height: 100%;
    display: inline-block;
    float: left;
}

/*-----GAFAS-----*/

.cont_gafa {
    display: inline-block;
    width: 30%;
    margin-left: 1.2%;
    margin-right: 1.2%;
}

#cont_gafas {
    display: inline-block;
    margin-left: 3.5%;
    margin-right: 1.5%;
}

.img_gafa {
    width: 100%;
    display: inline-block;
}

.nombre_gafa {
    font-size: 0.8em;
}

.precio {
    font-size: 0.8em;
}
